<form (submit)="onSubmit(queryForm)" [formGroup]="queryForm" class="form-group">
  <div class="form-row justify-content-between">
    <div class="form-group col-md-2">
      <label>名称</label>
      <input class="form-control" formControlName="name"  type="text">
    </div>
    <div class="form-group col-md-3 text-left align-self-end search">
      <button class="btn btn-info" type="submit"><i class="fas fa-search"></i> 查询</button>
    </div>
  </div>
</form>
<div class="row mb-2">
  <div class="col-6 text-success">
    <h4>当前学期: {{currentSemester.name}}</h4>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-primary" routerLink="add"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>
<yz-size (changeSize)="onSizeChange($event)" [size]="pageData.size"></yz-size>
<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>操作</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let semester of pageData.content; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ semester.name }}</td>
    <td>{{semester.startTime| date:'yyyy-MM-dd'}}</td>
    <td>{{semester.endTime| date:'yyyy-MM-dd'}}</td>

    <td>
      <a class="btn btn-outline-primary btn-sm" routerLink="edit/{{semester.id}}">
        <i class="fas fa-pen"></i>编辑
      </a>
      <span (click)="onDelete(semester)" class="btn btn-sm btn-outline-danger">
        <i class="far fa-trash-alt"></i>删除
      </span>
    </td>
  </tr>
  </tbody>
</table>
<yz-page (changePage)="onPageChange($event)" *ngIf="pageData.content"
         [page]="pageData.number"
         [size]="pageData.size"
         [totalElements]="pageData.totalElements"></yz-page>
