<form class="container-sm" (ngSubmit)="onSubmit(formGroup)" [formGroup]="formGroup">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right" for="name">名称<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" [formControlName]="formKeys.name" class="form-control" name="name" id="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label  text-right" >专业<code>*</code></label>
    <div class="col-sm-10">
      <app-major-select [formControlName]="formKeys.majorId" class="form-control"></app-major-select>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary" [disabled]="formGroup.invalid" type="submit"><i class="fas fa-save"></i>保存
      </button>
    </div>
  </div>
</form>
