<form class="container-sm" (ngSubmit)="onSubmit(formGroup)" [formGroup]="formGroup">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right" for="name">教学重点<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" [formControlName]="formKeys.teachingFocus" class="form-control" name="name" id="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">开课班级:</label>
    <div class="col-sm-10">
      <app-klass-checkbox [formControlName]="formKeys.klasses"></app-klass-checkbox>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right">教学计划:  </label>
    <input style="display: none" type="file" class="file-input"
           (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload  col">
      <button type="button" (click)="fileUpload.click()" class="upload-btn btn-sm btn-success">
        <i class="fas fa-file-image"></i> 选择文件
      </button>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-10 offset-5">
      <button
        class="btn btn-primary" [disabled]="formGroup.get(formKeys.teachingFocus).invalid" type="submit"><i class="far fa-save"></i> 保存
      </button>
    </div>
  </div>
</form>
